@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-poppins), sans-serif;
}

.icon-wa {
  filter: brightness(0) saturate(100%) invert(1);
}

/* Warna tanggal ketika dipilih */
.react-calendar__tile--active {
  background-color: #0f4c5c !important;
  color: #fff !important;
}

/* Untuk hover pada tanggal yang dipilih */
.react-calendar__tile--active:hover {
  background-color: #0f4c5c !important;
  opacity: 0.8 !important;
}

/* Hover efek untuk tanggal lainnya */
.react-calendar__tile:hover {
  background-color: rgba(15, 76, 92, 0.1) !important;
  color: #000 !important; /* Warna teks menjadi hitam saat di-hover */
}

/* Menghilangkan warna default tanggal hari ini */
.react-calendar__tile--now {
  background-color: transparent !important; /* Tidak ada warna */
  color: inherit !important; /* Warna teks default */
  border: none !important; /* Menghilangkan border jika ada */
}
/* Menghilangkan warna biru saat memilih option pada browser */
select option {
  background-color: #ffffff; /* Ganti dengan warna latar belakang pilihan */
  color: #333333; /* Ganti dengan warna teks yang kamu inginkan */
}

/* Menambahkan hover pada option */
select option:hover {
  background-color: #0f4c5c;
  color: #ffffff;
}

/* Menghilangkan warna biru default pada select */
select {
  -webkit-appearance: none; /* Menghapus tampilan default di Chrome/Safari */
  -moz-appearance: none; /* Menghapus tampilan default di Firefox */
  appearance: none; /* Menghapus tampilan default di browser lain */
  border: 1px solid #ccc; /* Menambahkan border custom */
  padding-right: 24px; /* Agar tidak ada panah di dalam select */
}

/* Menghilangkan outline biru saat select di-click atau focus */
select:focus {
  outline: none;
  border-color: #0f4c5c; /* Border saat focus */
}

/* Menambahkan styling untuk dropdown */
select::-ms-expand {
  display: none; /* Menghilangkan panah default di IE */
}

/* Kustomisasi elemen Option saat dipilih, menghilangkan warna biru */
select option:checked {
  background-color: #0f4c5c;
  color: #ffffff;
}
